<div class="bg-light p-3 mt-4 text-center">
	<div class="container">
		<div class="row">
			<div class="col">
				MON FOOTER
			</div>
			<div class="col">
				<a href="{{path('change_locale', {locale: 'en'})}}" class="btn btn-sm btn-outline-info ">EN</a>
				<a href="{{path('change_locale', {locale: 'fr'})}}" class="btn btn-sm btn-outline-info ">FR</a>
			</div>
		</div>
	</div>
</div>