{% extends "base.html.twig" %}

{% block title %}
	Modifier votre mot de passe
{% endblock %}
{% block body %}
	<div class="row">
		<div class="mx-auto text-center">
			<h1>Modifier votre mot de passe</h1>
    
			{{ form_start(form) }}
		
			<div></div>
			{{ form_row(form.password.first) }}
			
				
			{{ form_row(form.password.second) }}
			
			<div class="text-right my-4">
				<button class="btn btn-primary">Valider</button>
			</div>
		</div>
		{{ form_end(form) }}

    </div>
</div>

</div>{% endblock %}